# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Compiled Mex files
*.mexmaci64

# Executables
*.exe
*.out
*.app

# Visual Studio Code
.vscode/*

# Matlab
*.asv
*.mexmaci64

# Mesh files
*.rdf
*.obj

# Maple
*.bak

# Folders
build/*
bin/*
lib/*
lib3rd/*
sfun/simulator/test/slprj/*
sfun/virtualTestBench/test/slprj/*

# Project
docs_build/sphinx/_build
docs_build/sphinx/api
docs_build/xml
docs_build/xml-cpp/*
docs_build/xml-cpp
docs_build/sphinx/api-cpp
docs_build/sphinx/api-matlab
license.txt
